SETTING/ADDEXTRALINETOOUTPUT/0
SETTING/COLORIZEOUTPUT/-1
SETTING/CUSTOMCONSOLEERRORCOLOR/-1
SETTING/DISABLEPOPUPWARNING/0
SETTING/OPENCONSOLEONERROR/1
SETTING/PREFERINSTALLEDPYTHON/0
SETTING/STARTUP/LAZY
