/* Charcoal overrides */

body {
  background: #212121;
  scrollbar-base-color: #212121;
  scrollbar-face-color: #56656a;
  scrollbar-3dlight-color: #212121;
  scrollbar-highlight-color: #212121;
  scrollbar-track-color: #56656a;
  scrollbar-arrow-color: #212121;
  scrollbar-shadow-color: #212121;
  scrollbar-dark-shadow-color: #212121;
}

h1 {
  color: #f98b62;
}

h2 {
  color: #a7a7a7;
}
